<h1>Products</h1>
<% @products.each do |product| %>
  <h3><%= product.name %></h3>
  <h4><%= product.id %></h4>
  <div id="product-<%= product.id %>"><%= truncate(product.description) %></div>
  <p id="availability"></p>
  <button class="js-more" data-id="<%= product.id %>">More Info</button>
<% end %>

<script type="text/javascript" charset="utf-8">
$(function() {
  $(".js-more").on("click", function() {
    var id = $(this).data("id");
    $.get("/products/" + id + ".json", function(data) {
      var description = data["description"]
      var availability
      if (data["inventory"] == 0) {
        availability = "Sold Out"
      } else {
        availability = "Available"
      }
      $('#product-' + id).html("<p>" + description + "</p><p> Availability: " + availability + "</p>");
    });
  });
});
</script>
